pkgbase = dpitunnel-git
	pkgdesc = Free, simple and serverless solution against censorship for Linux PCs and routers
	pkgver = 1.0.3.r2.gaa098e8
	pkgrel = 1
	url = https://github.com/txtsd/DPITunnel
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = cmake
	makedepends = cpp-httplib
	makedepends = git
	depends = brotli
	depends = ca-certificates-utils
	depends = gcc-libs
	depends = glibc
	depends = libnl
	depends = openssl
	depends = zlib
	provides = dpitunnel
	conflicts = dpitunnel
	source = git+https://github.com/txtsd/DPITunnel
	sha256sums = SKIP

pkgname = dpitunnel-git
