pkgbase = art_standalone
	pkgdesc = A standalone version of Dalvik with Art built in
	pkgver = r167.57f9bbd9
	pkgrel = 1
	url = https://gitlab.com/android_translation_layer/art_standalone
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = Apache-2.0
	makedepends = bsd-compat-headers
	makedepends = libcap
	makedepends = meson
	makedepends = jdk8-openjdk
	makedepends = python
	makedepends = valgrind
	makedepends = zip
	depends = wolfssl-jni
	depends = libbsd
	depends = icu
	depends = xz
	depends = lz4
	depends = java-runtime
	depends = zlib
	depends = expat
	depends = libunwind
	depends = openssl
	depends = bionic_translation
	depends = gcc-libs
	depends = bash
	depends = glibc
	options = !strip
	source = art_standalone-57f9bbd9417b67a6d7bf70a7d7d457fc894250f5::https://gitlab.com/android_translation_layer/art_standalone/-/archive/57f9bbd9417b67a6d7bf70a7d7d457fc894250f5/art_standalone-57f9bbd9417b67a6d7bf70a7d7d457fc894250f5.tar.gz
	sha256sums = 9ab978af34adfaecf190f790bc2b2da17f8579f6a41ca2677bac6c14c3d718f8

pkgname = art_standalone
