pkgbase = art_standalone
	pkgdesc = A standalone version of Dalvik with Art built in
	pkgver = r173.82eb7bca
	pkgrel = 1
	url = https://gitlab.com/android_translation_layer/art_standalone
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = Apache-2.0
	makedepends = bsd-compat-headers
	makedepends = jdk8-openjdk
	makedepends = libcap
	makedepends = meson
	makedepends = python
	makedepends = valgrind
	makedepends = zip
	depends = bash
	depends = bionic_translation
	depends = expat
	depends = gcc-libs
	depends = glibc
	depends = icu
	depends = libbsd
	depends = libunwind
	depends = lz4
	depends = openssl
	depends = wolfssl-jni
	depends = xz
	depends = zlib
	source = art_standalone-82eb7bca2dd82b92f3be6a9fbd93dc757c85a77a.tar.gz::https://gitlab.com/android_translation_layer/art_standalone/-/archive/82eb7bca2dd82b92f3be6a9fbd93dc757c85a77a/art_standalone-82eb7bca2dd82b92f3be6a9fbd93dc757c85a77a.tar.gz
	sha256sums = c235c0bca9151a7c79643a89765cef8ebe97659e0dbd3d348601ed4b15b9e41f

pkgname = art_standalone
	depends = bash
	depends = bionic_translation
	depends = expat
	depends = gcc-libs
	depends = glibc
	depends = icu
	depends = libbsd
	depends = libunwind
	depends = lz4
	depends = openssl
	depends = wolfssl-jni
	depends = xz
	depends = zlib
	depends = java-runtime
