pkgbase = spoofdpi-bin
	pkgdesc = A simple and fast anti-censorship tool written in Go
	pkgver = 1.1.3
	pkgrel = 1
	url = https://github.com/xvzc/SpoofDPI
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = Apache-2.0
	provides = spoofdpi
	conflicts = spoofdpi
	options = !debug
	backup = etc/conf.d/spoofdpi
	source = spoofdpi.conf.d
	source = spoofdpi.service
	sha256sums = 6b7e46d23d15fbefaf8c1e031a2cea92a74f03a0ff7b19c2dd570f1b4bff324a
	sha256sums = a32456dfab36dd2dcfcdf9f7b24bbe3646c9cecda023180e2e658001427045da
	source_x86_64 = https://github.com/xvzc/SpoofDPI/releases/download/v1.1.3/spoofdpi_1.1.3_linux_x86_64.tar.gz
	sha256sums_x86_64 = a7bc920f99575b0b1696a1f8b847b6b816e0075836b50267506eea0b362b0c01
	source_armv7h = https://github.com/xvzc/SpoofDPI/releases/download/v1.1.3/spoofdpi_1.1.3_linux_arm.tar.gz
	sha256sums_armv7h = 8a61ab5cad3ad68b48ffca6076120f342115e1dee8cefd6e3bdb85204fbcdb15
	source_aarch64 = https://github.com/xvzc/SpoofDPI/releases/download/v1.1.3/spoofdpi_1.1.3_linux_arm64.tar.gz
	sha256sums_aarch64 = 01b2ae892bde49cac8334add3b045fe05f97092c5a9520886d20c84f7b4f8781

pkgname = spoofdpi-bin
