pkgbase = spoofdpi-bin
	pkgdesc = A simple and fast anti-censorship tool written in Go
	pkgver = 1.2.0
	pkgrel = 1
	url = https://github.com/xvzc/SpoofDPI
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = Apache-2.0
	provides = spoofdpi
	conflicts = spoofdpi
	options = !debug
	backup = etc/conf.d/spoofdpi
	source = spoofdpi.conf.d
	source = spoofdpi.service
	sha256sums = 6b7e46d23d15fbefaf8c1e031a2cea92a74f03a0ff7b19c2dd570f1b4bff324a
	sha256sums = a32456dfab36dd2dcfcdf9f7b24bbe3646c9cecda023180e2e658001427045da
	source_x86_64 = https://github.com/xvzc/SpoofDPI/releases/download/v1.2.0/spoofdpi_1.2.0_linux_x86_64.tar.gz
	sha256sums_x86_64 = 8102ffac6306e032620e7095dc372cc5ad9f0ba79cc57dd85545621c2f03f8f3
	source_armv7h = https://github.com/xvzc/SpoofDPI/releases/download/v1.2.0/spoofdpi_1.2.0_linux_arm.tar.gz
	sha256sums_armv7h = c966a62300145dee039de7eedbf1de7d5a86a047d3e1c603b88d4a4764b268be
	source_aarch64 = https://github.com/xvzc/SpoofDPI/releases/download/v1.2.0/spoofdpi_1.2.0_linux_arm64.tar.gz
	sha256sums_aarch64 = 2fd67410e7148edd2fa246bbac498c3c87180ab5e85dc9f879350987f283bb92

pkgname = spoofdpi-bin
