pkgbase = spoofdpi-bin
	pkgdesc = A simple and fast anti-censorship tool written in Go
	pkgver = 1.5.2
	pkgrel = 1
	url = https://github.com/xvzc/SpoofDPI
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = Apache-2.0
	provides = spoofdpi
	conflicts = spoofdpi
	options = !debug
	source = spoofdpi.service
	sha256sums = 8a61496c8621adbbc7b986388f9b2107e4c080d0d6e4d5a8dcb31a992dbc6ffc
	source_x86_64 = https://github.com/xvzc/SpoofDPI/releases/download/v1.5.2/spoofdpi_1.5.2_linux_x86_64.tar.gz
	sha256sums_x86_64 = ee94cac3b5d2c39833e060acc09209f93abada64b2375031fe2b6270e2325dbc
	source_armv7h = https://github.com/xvzc/SpoofDPI/releases/download/v1.5.2/spoofdpi_1.5.2_linux_arm.tar.gz
	sha256sums_armv7h = fa9fbbea566c32f4428b72cf1665b16a27ed66201bf5c1847880af92f8006b42
	source_aarch64 = https://github.com/xvzc/SpoofDPI/releases/download/v1.5.2/spoofdpi_1.5.2_linux_arm64.tar.gz
	sha256sums_aarch64 = b160e17bd9b501a52e0e04ab1ed3af855a38f8626e9c125d2de3d9d18e19d870

pkgname = spoofdpi-bin
