pkgbase = android_translation_layer
	pkgdesc = A translation layer for running Android apps on a Linux system
	pkgver = r932.9de91586
	pkgrel = 1
	url = https://gitlab.com/android_translation_layer/android_translation_layer
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = GPL-3.0-or-later
	makedepends = cmake
	makedepends = glib2-devel
	makedepends = java-runtime-common
	makedepends = jdk8-openjdk
	makedepends = meson
	makedepends = openxr
	makedepends = vulkan-headers
	makedepends = wayland-protocols
	depends = alsa-lib
	depends = art_standalone
	depends = bionic_translation
	depends = cairo
	depends = ffmpeg
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = graphene
	depends = gtk4
	depends = gtk4-layer-shell
	depends = harfbuzz
	depends = libdrm
	depends = libglvnd
	depends = libgudev
	depends = libopensles-standalone
	depends = libportal
	depends = libsoup3
	depends = pango
	depends = skia-sharp-atl
	depends = sqlite
	depends = vulkan-icd-loader
	depends = wayland
	depends = webkitgtk-6.0
	source = android_translation_layer-9de91586994af5078decda17db92ce50c5673951.tar.gz::https://gitlab.com/android_translation_layer/android_translation_layer/-/archive/9de91586994af5078decda17db92ce50c5673951/android_translation_layer-9de91586994af5078decda17db92ce50c5673951.tar.gz
	sha256sums = 810bfe751d4348158679b9f8ffbbbcce00b59f97c5dbc50ef8819beb1ae0c2a6

pkgname = android_translation_layer
	depends = alsa-lib
	depends = art_standalone
	depends = bionic_translation
	depends = cairo
	depends = ffmpeg
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = graphene
	depends = gtk4
	depends = gtk4-layer-shell
	depends = harfbuzz
	depends = libdrm
	depends = libglvnd
	depends = libgudev
	depends = libopensles-standalone
	depends = libportal
	depends = libsoup3
	depends = pango
	depends = skia-sharp-atl
	depends = sqlite
	depends = vulkan-icd-loader
	depends = wayland
	depends = webkitgtk-6.0
	depends = java-runtime
