pkgbase = spoofdpi
	pkgdesc = A simple and fast anti-censorship tool written in Go
	pkgver = 0.12.2
	pkgrel = 1
	url = https://github.com/xvzc/SpoofDPI
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = Apache-2.0
	makedepends = go
	depends = glibc
	options = !debug
	backup = etc/conf.d/spoofdpi
	source = spoofdpi-0.12.2.tar.gz::https://github.com/xvzc/SpoofDPI/archive/refs/tags/v0.12.2.tar.gz
	source = spoofdpi.conf.d
	source = spoofdpi.service
	sha256sums = 6b963e5c52e129f1bcac3b5adc59322715f5d31e593eb317e363c18c77f53a5b
	sha256sums = 6b7e46d23d15fbefaf8c1e031a2cea92a74f03a0ff7b19c2dd570f1b4bff324a
	sha256sums = a32456dfab36dd2dcfcdf9f7b24bbe3646c9cecda023180e2e658001427045da

pkgname = spoofdpi
