pkgbase = spoofdpi
	pkgdesc = A simple and fast anti-censorship tool written in Go
	pkgver = 1.2.1
	pkgrel = 4
	url = https://github.com/xvzc/SpoofDPI
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = Apache-2.0
	makedepends = go
	depends = glibc
	options = !debug
	backup = etc/conf.d/spoofdpi
	source = https://github.com/xvzc/SpoofDPI/releases/download/v1.2.1/spoofdpi-1.2.1.tar.gz
	source = spoofdpi.conf.d
	source = spoofdpi.service
	sha256sums = 39cb201f8796c8a69b1fd58c38663eda61491c1440b5252c56b72b3f036fccb4
	sha256sums = 6aa0ecb1d0073b970d0f0a71fae521ed1342a4aa9d8ed1887fdadb2f751edb92
	sha256sums = 76a22a11e7ffa2c362f32d2e05cee16b056a6ce9b64b3ea10ece8732e77e917a

pkgname = spoofdpi
