pkgbase = spoofdpi
	pkgdesc = A simple and fast anti-censorship tool written in Go
	pkgver = 1.2.0
	pkgrel = 1
	url = https://github.com/xvzc/SpoofDPI
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = Apache-2.0
	makedepends = go
	depends = glibc
	options = !debug
	backup = etc/conf.d/spoofdpi
	source = https://github.com/xvzc/SpoofDPI/releases/download/v1.2.0/spoofdpi-1.2.0.tar.gz
	source = spoofdpi.conf.d
	source = spoofdpi.service
	sha256sums = 1b7f4befa32dcefeb501ad2b87b4d9d2e8929137c1d552898d1535a18c59cc68
	sha256sums = 6b7e46d23d15fbefaf8c1e031a2cea92a74f03a0ff7b19c2dd570f1b4bff324a
	sha256sums = a32456dfab36dd2dcfcdf9f7b24bbe3646c9cecda023180e2e658001427045da

pkgname = spoofdpi
