pkgbase = tile38
	pkgdesc = An in-memory geolocation data store, spatial index, and realtime geofencing server
	pkgver = 1.35.0
	pkgrel = 1
	url = https://tile38.com
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = MIT
	makedepends = git
	makedepends = go
	depends = ca-certificates
	source = git+https://github.com/tidwall/tile38#tag=1.35.0
	sha256sums = af5b443ffe1c83ac73dc0bdd7cdefc2ba9bd18401d49022f7795e8c1a3364c76

pkgname = tile38
