pkgbase = tile38
	pkgdesc = An in-memory geolocation data store, spatial index, and realtime geofencing server
	pkgver = 1.36.5
	pkgrel = 2
	url = https://tile38.com
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = MIT
	makedepends = git
	makedepends = go
	depends = ca-certificates
	source = git+https://github.com/tidwall/tile38#tag=1.36.5
	sha256sums = aea9345368af3cd7dedefc29058afdd7ac64e56a027d565c9d93b08fb2d551c4

pkgname = tile38
