pkgbase = halloy
	pkgdesc = An open-source IRC client written in Rust, with the Iced GUI library
	pkgver = 2025.5
	pkgrel = 1
	url = https://github.com/squidowl/halloy
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	checkdepends = cargo
	makedepends = cargo
	depends = alsa-lib
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = openssl
	options = !lto
	source = halloy-2025.5.tar.gz::https://github.com/squidowl/halloy/archive/refs/tags/2025.5.tar.gz
	sha256sums = ee348b830db85fcea09616a45271551fa7a382513184170a84ef9dc8b720a88d

pkgname = halloy
