pkgbase = linux-command-gpt
	pkgdesc = Get Linux commands in natural language with the power of ChatGPT
	pkgver = 0.2.1
	pkgrel = 1
	url = https://github.com/asrul10/linux-command-gpt
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = git
	makedepends = go
	depends = glibc
	source = git+https://github.com/asrul10/linux-command-gpt#tag=v0.2.1
	sha256sums = b82ab79c3536c160bf4563c4df87f21acf5a312aa38bf3cf329636a63f2c7977

pkgname = linux-command-gpt
