[Unit]
Description=Bitmagnet Daemon
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=bitmagnet
Group=bitmagnet
SyslogIdentifier=bitmagnet
Environment=XDG_CONFIG_HOME=/etc
Environment=XDG_STATE_HOME=/var/lib
ExecStart=/usr/bin/bitmagnet worker run --all
Restart=on-failure
RestartSec=15s
UMask=0077

[Install]
WantedBy=multi-user.target
