pkgbase = gpt-engineer
	pkgdesc = Specify what you want it to build, the AI asks for clarification, and then builds it.
	pkgver = 0.3.1
	pkgrel = 2
	url = https://github.com/gpt-engineer-org/gpt-engineer
	install = gpt-engineer.install
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-poetry-core
	makedepends = python-wheel
	depends = python>=3.10
	depends = python-backoff
	depends = python-black
	depends = python-dataclasses-json
	depends = python-dotenv
	depends = python-langchain
	depends = python-langchain-community
	depends = python-openai
	depends = python-pyperclip
	depends = python-regex
	depends = python-tabulate
	depends = python-termcolor
	depends = python-tiktoken
	depends = python-toml
	depends = python-tomlkit
	depends = python-typer
	depends = python-yaml
	source = https://pypi.org/packages/source/g/gpt-engineer/gpt_engineer-0.3.1.tar.gz
	sha256sums = e7646c8421a47a12a4e6114c184f40a2e6c2f9fad3af03cf7ed9eb34a545eae0

pkgname = gpt-engineer
