pkgbase = superseedr
	pkgdesc = A BitTorrent Client in your Terminal
	pkgver = 0.9.28
	pkgrel = 1
	url = https://github.com/Jagalite/superseedr
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = python
	depends = gcc-libs
	depends = glibc
	depends = libxcb
	depends = openssl
	source = superseedr-0.9.28.tar.gz::https://github.com/Jagalite/superseedr/archive/refs/tags/v0.9.28.tar.gz
	sha256sums = 496d081ca1bcd7df05dfc4b2532a0fd8fb0b0e92a67f28f1a3277892fe6334fb

pkgname = superseedr
