pkgbase = superseedr
	pkgdesc = A BitTorrent Client in your Terminal
	pkgver = 0.9.27
	pkgrel = 1
	url = https://github.com/Jagalite/superseedr
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = python
	depends = gcc-libs
	depends = glibc
	depends = libxcb
	depends = openssl
	source = superseedr-0.9.27.tar.gz::https://github.com/Jagalite/superseedr/archive/refs/tags/v0.9.27.tar.gz
	sha256sums = 2bbbb596997ba156ae634e9f5911df60586d1356d6915c13fef1956d2328fc70

pkgname = superseedr
