pkgbase = superseedr
	pkgdesc = A BitTorrent Client in your Terminal
	pkgver = 0.9.25
	pkgrel = 1
	url = https://github.com/Jagalite/superseedr
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = python
	depends = gcc-libs
	depends = glibc
	depends = libxcb
	depends = openssl
	source = superseedr-0.9.25.tar.gz::https://github.com/Jagalite/superseedr/archive/refs/tags/v0.9.25.tar.gz
	sha256sums = 166608da2ccc7f7336ac992e819f8564028924fb3d4cfb61cf7f59f5bc16376a

pkgname = superseedr
