pkgbase = curseforge-appimage
	pkgdesc = CurseForge desktop client for Linux (AppImage)
	pkgver = 1.292.0_28941
	pkgrel = 1
	url = https://curseforge.com
	arch = x86_64
	license = LicenseRef-overwolf
	license = MIT
	license = LicenseRef-chromium-licenses
	depends = fuse2
	depends = glibc
	depends = hicolor-icon-theme
	depends = zlib
	provides = curseforge
	conflicts = curseforge
	options = !strip
	options = !debug
	source = CurseForge-1.292.0-28941.AppImage::https://curseforge.overwolf.com/electron/linux/CurseForge-1.292.0-28941.AppImage
	source = LICENSE
	sha256sums = 4005bfba9293ab1d0e03eaf6ef6f4b1c069bb80a9a787b9bedecf1d0ba18ec60
	sha256sums = 135c7ffeb81f4a7ee95a5879651b679e0d1ef9d13c7aa7c262386ad97b48d62f

pkgname = curseforge-appimage
