pkgbase = curseforge-appimage
	pkgdesc = CurseForge desktop client for Linux (AppImage)
	pkgver = 1.291.0_28875
	pkgrel = 1
	url = https://curseforge.com
	arch = x86_64
	license = LicenseRef-overwolf
	license = MIT
	license = LicenseRef-chromium-licenses
	depends = fuse2
	depends = glibc
	depends = hicolor-icon-theme
	depends = zlib
	provides = curseforge
	conflicts = curseforge
	options = !strip
	options = !debug
	source = CurseForge-1.291.0-28875.AppImage::https://curseforge.overwolf.com/electron/linux/CurseForge-1.291.0-28875.AppImage
	source = LICENSE
	sha256sums = 6e5d26a2968bc4fd1fac5f41d69202ea211cacb83eeb43ecf231e850963ea61e
	sha256sums = 135c7ffeb81f4a7ee95a5879651b679e0d1ef9d13c7aa7c262386ad97b48d62f

pkgname = curseforge-appimage
