pkgbase = imgbrd-grabber-appimage
	pkgdesc = Very customizable imageboard/booru downloader with powerful filenaming features.
	pkgver = 7.12.1
	pkgrel = 1
	url = https://github.com/Bionus/imgbrd-grabber
	arch = x86_64
	license = Apache-2.0
	depends = hicolor-icon-theme
	depends = zlib
	depends = fuse
	depends = glibc
	provides = grabber
	conflicts = grabber
	noextract = Grabber_v7.12.1-x86_64.AppImage
	options = !strip
	options = !debug
	source = https://github.com/Bionus/imgbrd-grabber/releases/download/v7.12.1/Grabber_v7.12.1-x86_64.AppImage
	source = https://raw.githubusercontent.com/Bionus/imgbrd-grabber/v7.12.1/LICENSE
	sha256sums = afe402f6ff6c1c46b7ad69c5ea70de6a59e2fcc0a3cd3211ff9603b8a5e13591
	sha256sums = cfc7749b96f63bd31c3c42b5c471bf756814053e847c10f3eb003417bc523d30

pkgname = imgbrd-grabber-appimage
