pkgbase = imgbrd-grabber-appimage
	pkgdesc = Very customizable imageboard/booru downloader with powerful filenaming features
	pkgver = 7.13.0
	pkgrel = 1
	url = https://github.com/Bionus/imgbrd-grabber
	arch = x86_64
	license = Apache-2.0
	depends = hicolor-icon-theme
	depends = zlib
	depends = fuse
	depends = glibc
	provides = imgbrd-grabber
	conflicts = imgbrd-grabber
	noextract = Grabber_v7.13.0-x86_64.AppImage
	options = !strip
	options = !debug
	source = https://github.com/Bionus/imgbrd-grabber/releases/download/v7.13.0/Grabber_v7.13.0-x86_64.AppImage
	source = https://raw.githubusercontent.com/Bionus/imgbrd-grabber/v7.13.0/LICENSE
	sha256sums = f9a9c1efcdb5afb621416ac3b53ca78f2d92073609e43c7f51641f37d2769579
	sha256sums = cfc7749b96f63bd31c3c42b5c471bf756814053e847c10f3eb003417bc523d30

pkgname = imgbrd-grabber-appimage
