pkgbase = otf-sans-forgetica
	pkgdesc = A font scientifically designed to help you remember your study notes
	pkgver = 1.0
	pkgrel = 3
	url = https://web.archive.org/web/20220601143856/https://sansforgetica.rmit.edu.au/
	arch = any
	license = CC-BY-NC-4.0
	source = https://web.archive.org/web/20220601143856/https://sansforgetica.rmit.edu.au/Common/Zips/Sans%20Forgetica.zip
	sha256sums = 972899e17ae7097c95a30661c882c696b6f17d73061da6632b8e976b3bf56f81

pkgname = otf-sans-forgetica
