pkgbase = bitmagnet-git
	pkgdesc = A self-hosted BitTorrent indexer, DHT crawler, content classifier and torrent search engine with web UI, GraphQL API and Servarr stack integration.
	pkgver = 0.10.0.beta.4.r0.36d989b
	pkgrel = 1
	url = https://bitmagnet.io
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = MIT
	makedepends = git
	makedepends = go
	depends = glibc
	optdepends = grafana: dashboards
	optdepends = loki: logs
	optdepends = postgresql: database
	optdepends = prometheus: metrics
	optdepends = pyroscope: profiling
	optdepends = redis: cache
	provides = bitmagnet=0.10.0.beta.4.r0.36d989b
	conflicts = bitmagnet
	backup = etc/bitmagnet/config.yml
	source = git+https://github.com/bitmagnet-io/bitmagnet
	source = config.yml
	source = bitmagnet.service
	source = bitmagnet.sysusers
	source = bitmagnet.tmpfiles
	sha256sums = SKIP
	sha256sums = 01ba4719c80b6fe911b091a7c05124b64eeece964e09c058ef8f9805daca546b
	sha256sums = a735d0434480bc357664648671c8ba92a82d7f262bdb54c093ad0ba3d6ba3242
	sha256sums = 9eab02f76a22e3ff627bd6f7fe609480ced67c076f079e985a34d41d13fe8f08
	sha256sums = bf2fc8cbf9d6191bee505c957e3e7642f20aa2de05ce92af8270913094de4498

pkgname = bitmagnet-git
