pkgbase = lxqt_wallet-git
	pkgdesc = Secure information storage for LXQt
	pkgver = 4.0.2.r0.gda39cb3
	pkgrel = 2
	url = https://github.com/lxqt/lxqt_wallet
	arch = x86_64
	license = BSD-2-Clause
	makedepends = cmake
	makedepends = git
	makedepends = kwallet
	makedepends = libsecret
	makedepends = qt6-tools
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = libgcrypt
	depends = libglvnd
	depends = qt6-base
	optdepends = libsecret: support for Gnome libsecret password storage
	optdepends = kwallet: support for KDE wallet storage
	provides = lxqt_wallet
	conflicts = lxqt_wallet
	source = git+https://github.com/lxqt/lxqt_wallet.git
	sha256sums = SKIP

pkgname = lxqt_wallet-git
