pkgbase = blockbench
	pkgdesc = A low-poly 3D model editor
	pkgver = 5.0.0
	pkgrel = 1
	url = https://blockbench.net
	arch = x86_64
	arch = armv7h
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = npm
	depends = electron
	depends = bash
	depends = giblib
	depends = glibc
	depends = imlib2
	depends = libx11
	options = !debug
	source = blockbench::git+https://github.com/JannisX11/blockbench#tag=v5.0.0
	source = blockbench.desktop
	source = https://github.com/JannisX11/blockbench/commit/1028ad4d46e8d2794d821f1e9626089d82ef915f.patch
	sha256sums = 1c67487f066fd3bcc67d6574bc24b2705f2a7adcf50c4be67d0201db0394d49d
	sha256sums = 5a64727fcf696b3497190d441556322b4d0ffb70f560ba8eba6ef79ac5c36e8c
	sha256sums = c156200c465a43b595f4f2d38e1e6a59dfd8e7e9521175f2196e41e3ad1c942e

pkgname = blockbench
