pkgbase = halloy
	pkgdesc = An open-source IRC client written in Rust, with the Iced GUI library
	pkgver = 2025.3
	pkgrel = 1
	url = https://github.com/squidowl/halloy
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	checkdepends = cargo
	makedepends = cargo
	depends = alsa-lib
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = openssl
	options = !lto
	source = halloy-2025.3.tar.gz::https://github.com/squidowl/halloy/archive/refs/tags/2025.3.tar.gz
	sha256sums = 317b130239ae2ae33fadfa9e39e2be3ff755c9903d5fba57e5a7a57ed8cd19fb

pkgname = halloy
