pkgbase = halloy
	pkgdesc = An open-source IRC client written in Rust, with the Iced GUI library
	pkgver = 2025.4
	pkgrel = 1
	url = https://github.com/squidowl/halloy
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	checkdepends = cargo
	makedepends = cargo
	depends = alsa-lib
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = openssl
	options = !lto
	source = halloy-2025.4.tar.gz::https://github.com/squidowl/halloy/archive/refs/tags/2025.4.tar.gz
	sha256sums = f19f01f0e31739bfbafaaf63e7d01e9d1de2813127715f6243a1bcb4e041a8c1

pkgname = halloy
