pkgbase = halloy
	pkgdesc = An open-source IRC client written in Rust, with the Iced GUI library
	pkgver = 2025.8
	pkgrel = 1
	url = https://github.com/squidowl/halloy
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	checkdepends = cargo
	makedepends = cargo
	depends = alsa-lib
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = openssl
	options = !lto
	source = halloy-2025.8.tar.gz::https://github.com/squidowl/halloy/archive/refs/tags/2025.8.tar.gz
	sha256sums = 3d05105457408f63046bf7108a1938e8bac5b8e3017457da94873025e4550ea5

pkgname = halloy
