pkgbase = python-langchain-text-splitters
	pkgdesc = Building applications with LLMs through composability
	pkgver = 0.0.2
	pkgrel = 1
	url = https://github.com/langchain-ai/langchain
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-poetry
	depends = python
	depends = python-tiktoken
	depends = python-requests
	depends = python-lxml
	depends = python-langchain-core
	depends = python-beautifulsoup4
	source = langchain-text-splitters-0.0.2.tar.gz::https://github.com/langchain-ai/langchain/archive/refs/tags/langchain-text-splitters==0.0.2.tar.gz
	sha256sums = 77d4d69f540d41223bf3fed9fcc195e6c144db6972462a1c8a5443ff84c802bd

pkgname = python-langchain-text-splitters
