pkgbase = python-selenium
	pkgdesc = Python language bindings for Selenium WebDriver
	pkgver = 4.28.1
	pkgrel = 1
	url = https://github.com/SeleniumHQ/selenium
	arch = x86_64
	license = Apache-2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-setuptools-rust
	makedepends = python-wheel
	depends = bzip2
	depends = gcc-libs
	depends = glibc
	depends = python
	depends = python-certifi
	depends = python-trio
	depends = python-trio-websocket
	depends = python-typing_extensions
	depends = python-urllib3
	depends = python-websocket-client
	depends = zlib
	options = !lto
	source = https://files.pythonhosted.org/packages/source/s/selenium/selenium-4.28.1.tar.gz
	source = pyo3.patch
	source = cargo.patch
	sha256sums = 0072d08670d7ec32db901bd0107695a330cecac9f196e3afb3fa8163026e022a
	sha256sums = 41da6ac9e2e6c23a396e091b8dbac4ba8af738956ac23be43f573c7f1bed24ae
	sha256sums = e119e188b826e5fecdf4fdd2fea814318dc7fd9564347f055825befbd9d2542f

pkgname = python-selenium
