pkgbase = python-langchain
	pkgdesc = Build context-aware reasoning applications
	pkgver = 0.2.1
	pkgrel = 1
	url = https://github.com/langchain-ai/langchain
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-poetry-core
	depends = python
	depends = python-aiohttp
	depends = python-dataclasses-json
	depends = python-jsonpatch
	depends = python-numpy
	depends = python-pydantic
	depends = python-yaml
	depends = python-requests
	depends = python-sqlalchemy
	depends = python-tenacity
	depends = python-jsonschema
	depends = python-rapidfuzz
	depends = python-lark-parser
	depends = python-lxml
	depends = python-pandas
	depends = python-mypy_extensions
	depends = python-regex
	depends = python-typing_extensions
	depends = python-async-timeout
	depends = python-redis
	depends = python-beautifulsoup4
	depends = python-tiktoken
	depends = python-openai
	source = langchain-0.2.1.tar.gz::https://github.com/langchain-ai/langchain/archive/refs/tags/langchain==0.2.1.tar.gz
	sha256sums = 53b768336dc950c3526d9f5c95f3b8e49dbfeb5aeec8bdafa320e158c7599ced

pkgname = python-langchain
