pkgbase = bitmagnet-beta
	pkgdesc = A self-hosted BitTorrent indexer, DHT crawler, content classifier and torrent search engine with web UI, GraphQL API and Servarr stack integration.
	pkgver = 0.10.0_beta.3
	pkgrel = 1
	url = https://bitmagnet.io
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = MIT
	makedepends = go
	depends = glibc
	optdepends = postgresql: database
	optdepends = redis: cache
	optdepends = prometheus: metrics
	optdepends = loki: logs
	optdepends = grafana: dashboards
	optdepends = pyroscope: profiling
	provides = bitmagnet
	conflicts = bitmagnet
	options = !debug
	backup = etc/bitmagnet/config.yml
	source = bitmagnet-beta-0.10.0-beta.3.tar.gz::https://github.com/bitmagnet-io/bitmagnet/archive/refs/tags/v0.10.0-beta.3.tar.gz
	source = config.yml
	source = bitmagnet.service
	source = bitmagnet.sysusers
	source = bitmagnet.tmpfiles
	sha256sums = b31563755d866db1cd2f3a2b32e8c299001f6c4f56c137e1d38f5ba7a3e75f70
	sha256sums = e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
	sha256sums = 05991bd043d80b77eeea2149478290ecef7d8f19b8a0768edf4a55a08dcf3342
	sha256sums = 9eab02f76a22e3ff627bd6f7fe609480ced67c076f079e985a34d41d13fe8f08
	sha256sums = 0972b20f948b5e685c659dfefa7a4e200f75fa12dfe9d4779ef3ad5c8ffdca86

pkgname = bitmagnet-beta
