pkgbase = lxqt_wallet
	pkgdesc = Secure information storage for LXQt
	pkgver = 4.0.2
	pkgrel = 2
	url = https://github.com/lxqt/lxqt_wallet
	arch = x86_64
	license = BSD-2-Clause
	makedepends = cmake
	makedepends = kwallet
	makedepends = libsecret
	makedepends = qt6-tools
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = libgcrypt
	depends = libglvnd
	depends = qt6-base
	optdepends = libsecret: support for Gnome libsecret password storage
	optdepends = kwallet: support for KDE wallet storage
	source = https://github.com/mhogomchungu/lxqt_wallet/releases/download/4.0.2/lxqt-wallet-4.0.2.tar.xz
	sha256sums = 3dbfc24555e88f6dd8aa79c2bf22e455f82d6a332e95418b08788d7adc226e50

pkgname = lxqt_wallet
