pkgbase = python-syncedlyrics
	pkgdesc = Get an LRC format (synchronized) lyrics for your music
	pkgver = 0.10.1
	pkgrel = 1
	url = https://github.com/moehmeni/syncedlyrics
	arch = any
	license = MIT
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-poetry-core
	depends = python>=3.8
	depends = python-requests>=2.28.1
	depends = python-rapidfuzz>=2.13.2
	depends = python-beautifulsoup4>=4.11.1
	source = syncedlyrics-0.10.1.tar.gz::https://github.com/moehmeni/syncedlyrics/archive/refs/tags/v0.10.1.tar.gz
	sha256sums = 5b72840d89657765ac42433d4928447245c15bbc912d64a943d90d7e1c3ed3a5

pkgname = python-syncedlyrics
