pkgbase = halloy-bin
	pkgdesc = An open-source IRC client written in Rust, with the Iced GUI library
	pkgver = 2024.8
	pkgrel = 1
	url = https://github.com/squidowl/halloy
	arch = x86_64
	license = GPL-3.0-or-later
	depends = openssl
	depends = glibc
	depends = gcc-libs
	depends = hicolor-icon-theme
	provides = halloy
	conflicts = halloy
	source = https://github.com/squidowl/halloy/releases/download/2024.8/halloy-2024.8-x86_64-linux.tar.gz
	sha256sums = b591e780d7dcb880769f6a8b5e96f2cddf472fd74ba70b7e0855e16c91f8ae75

pkgname = halloy-bin
