pkgbase = halloy-bin
	pkgdesc = An open-source IRC client written in Rust, with the Iced GUI library
	pkgver = 2025.11
	pkgrel = 1
	url = https://github.com/squidowl/halloy
	arch = x86_64
	license = GPL-3.0-or-later
	depends = alsa-lib
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = openssl
	provides = halloy
	conflicts = halloy
	source = https://github.com/squidowl/halloy/releases/download/2025.11/halloy-2025.11-x86_64-linux.tar.gz
	sha256sums = 2276741bf747871dd8ec1daf5eb138a859e01a444dada497bac7548ff6d2cbc7

pkgname = halloy-bin
