pkgbase = halloy-bin
	pkgdesc = An open-source IRC client written in Rust, with the Iced GUI library
	pkgver = 2025.8
	pkgrel = 1
	url = https://github.com/squidowl/halloy
	arch = x86_64
	license = GPL-3.0-or-later
	depends = alsa-lib
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = openssl
	provides = halloy
	conflicts = halloy
	source = https://github.com/squidowl/halloy/releases/download/2025.8/halloy-2025.8-x86_64-linux.tar.gz
	sha256sums = cf421876f60d721a020a0682fb35031c49d18bcab7b0e1f572928b369c7465fb

pkgname = halloy-bin
