pkgbase = eza-git
	pkgdesc = A modern replacement for ls (community fork of exa)
	pkgver = 0.20.7.r0.g29afcb5
	pkgrel = 1
	url = https://github.com/eza-community/eza
	arch = x86_64
	license = EUPL-1.2
	checkdepends = cargo
	makedepends = cargo
	makedepends = git
	makedepends = pandoc
	depends = gcc-libs
	depends = glibc
	depends = libgit2
	provides = eza
	provides = exa
	conflicts = eza
	conflicts = exa
	replaces = exa
	source = eza-git::git+https://github.com/eza-community/eza#branch=main
	sha256sums = SKIP

pkgname = eza-git
	depends = gcc-libs
	depends = glibc
	depends = libgit2
	depends = libgit2.so
