pkgbase = python-langchain-core
	pkgdesc = Building applications with LLMs through composability
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/langchain-ai/langchain
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-poetry
	depends = python
	depends = python-anyio
	depends = python-jsonpatch
	depends = python-langsmith
	depends = python-packaging
	depends = python-pydantic
	depends = python-yaml
	depends = python-requests
	depends = python-tenacity
	depends = python-jinja
	depends = python-typing_extensions
	depends = python-defusedxml
	depends = python-numpy
	source = langchain-core-0.2.0.tar.gz::https://github.com/langchain-ai/langchain/archive/refs/tags/langchain-core==0.2.0.tar.gz
	sha256sums = 0cca30bcc340303d857f097f96dbd8234f70f7381b4c2f01d2ae6c92d974e914

pkgname = python-langchain-core
