pkgbase = python-langchain-core
	pkgdesc = Building applications with LLMs through composability
	pkgver = 0.1.52
	pkgrel = 1
	url = https://github.com/langchain-ai/langchain
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-poetry
	depends = python
	depends = python-anyio
	depends = python-jsonpatch
	depends = python-langsmith
	depends = python-packaging
	depends = python-pydantic
	depends = python-yaml
	depends = python-requests
	depends = python-tenacity
	depends = python-jinja
	depends = python-typing_extensions
	depends = python-defusedxml
	source = langchain-core-0.1.52.tar.gz::https://github.com/langchain-ai/langchain/archive/refs/tags/langchain-core==0.1.52.tar.gz
	sha256sums = 6ee62ad7c8ce418e443f50dcf32ae61dd170a11a219a994173d872b0022872c2

pkgname = python-langchain-core
