pkgbase = python-langsmith
	pkgdesc = LangSmith Client SDK Implementations
	pkgver = 0.1.38
	pkgrel = 1
	url = https://github.com/langchain-ai/langsmith-sdk
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-poetry-core
	depends = python
	depends = python-pydantic
	depends = python-requests
	depends = python-openai
	depends = python-orjson
	depends = python-pandas
	depends = python-psutil
	depends = python-typing_extensions
	depends = python-urllib3
	source = langsmith-0.1.38.tar.gz::https://github.com/langchain-ai/langsmith-sdk/archive/refs/tags/v0.1.38.tar.gz
	sha256sums = 3a68b907da7149d8b86c92cf722e6a1a74ceb82b1e88ef7728527143059f5fb7

pkgname = python-langsmith
