pkgbase = python-langsmith
	pkgdesc = LangSmith Client SDK Implementations
	pkgver = 0.1.40
	pkgrel = 1
	url = https://github.com/langchain-ai/langsmith-sdk
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-poetry-core
	depends = python
	depends = python-pydantic
	depends = python-requests
	depends = python-openai
	depends = python-orjson
	depends = python-pandas
	depends = python-psutil
	depends = python-typing_extensions
	depends = python-urllib3
	source = langsmith-0.1.40.tar.gz::https://github.com/langchain-ai/langsmith-sdk/archive/refs/tags/v0.1.40.tar.gz
	sha256sums = a21d74c8319f945ca25e7ee557dd1d9cf2311722698e64b84142ef0ee83f3ab2

pkgname = python-langsmith
