pkgbase = python-langsmith
	pkgdesc = LangSmith Client SDK Implementations
	pkgver = 0.1.60
	pkgrel = 1
	url = https://github.com/langchain-ai/langsmith-sdk
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-poetry-core
	depends = python
	depends = python-pydantic
	depends = python-requests
	depends = python-openai
	depends = python-orjson
	depends = python-pandas
	depends = python-psutil
	depends = python-typing_extensions
	depends = python-urllib3
	depends = python-rapidfuzz
	depends = python-tqdm
	depends = python-numpy
	source = langsmith-0.1.60.tar.gz::https://github.com/langchain-ai/langsmith-sdk/archive/refs/tags/v0.1.60.tar.gz
	sha256sums = 4b28e342feeef5320aca13d64a6fb1dddf745230f0e67608a1745a8be7a1ada1

pkgname = python-langsmith
