pkgbase = python-rtfunicode
	pkgdesc = Encoder for unicode to RTF 1.5 command sequences
	pkgver = 2.3
	pkgrel = 1
	url = https://pypi.org/project/rtfunicode
	arch = any
	license = BSD-2-Clause
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-uv-build
	makedepends = python-wheel
	depends = python
	options = !debug
	source = https://files.pythonhosted.org/packages/source/r/rtfunicode/rtfunicode-2.3.tar.gz
	sha256sums = 800d1ef6dcc01505a5912958e7267332ccb1a58e0c6faf213af5f9cd85fa321a

pkgname = python-rtfunicode
