pkgbase = bugwarrior
	pkgdesc = Pull github, bitbucket, and trac issues into taskwarrior
	pkgver = 2.0.0
	pkgrel = 2
	url = https://bugwarrior.readthedocs.io
	arch = any
	license = GPL-3.0-or-later
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-click
	depends = python-dateutil
	depends = python-dogpile.cache
	depends = python-ini2toml
	depends = python-jinja
	depends = python-lockfile
	depends = python-pydantic
	depends = python-pytz
	depends = python-requests
	depends = python-taskw
	depends = python-tomli
	optdepends = python-bugzilla: bugzilla support
	optdepends = python-debianbts: bts support
	optdepends = python-google-api-python-client: gmail support
	optdepends = python-jira: jira support
	optdepends = python-keyring: keyring support
	optdepends = python-oauth2client: gmail support
	optdepends = python-offtrac: Trac support
	optdepends = python-phabricator: phabricator support
	optdepends = python-pysimplesoap: bts support
	options = !debug
	source = bugwarrior-2.0.0.tar.gz::https://github.com/GothenburgBitFactory/bugwarrior/archive/2.0.0.tar.gz
	sha256sums = 403cb62b27cab97c8cd478a09fe01ff16a391a6a1a458f1f746a12a65d49753e

pkgname = bugwarrior
