pkgbase = opennox-git
	pkgdesc = A modern implementation of the Nox game engine
	pkgver = 1.9.0.alpha13.r103.gabbdebbf4
	pkgrel = 4
	url = https://github.com/opennox/opennox
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = gcc-multilib
	makedepends = git
	makedepends = go
	makedepends = lib32-sdl_image
	depends = hicolor-icon-theme
	depends = lib32-glibc
	depends = lib32-libglvnd
	depends = lib32-openal
	depends = lib32-sdl2
	provides = opennox
	conflicts = opennox
	source = git+https://github.com/opennox/opennox
	sha256sums = SKIP

pkgname = opennox-git
