pkgbase = jsoncons
	pkgdesc = A C++, header-only library for constructing JSON and JSON-like data formats
	pkgver = 1.5.0
	pkgrel = 1
	url = https://github.com/danielaparker/jsoncons
	arch = any
	license = BSL-1.0
	makedepends = cmake
	options = !debug
	source = jsoncons-1.5.0.tar.gz::https://github.com/danielaparker/jsoncons/archive/refs/tags/v1.5.0.tar.gz
	sha256sums = 956021e44e50639be766a4ad71aff9a95168da188005fc6bfa23ee5d6a53eb32

pkgname = jsoncons
