pkgbase = jsoncons
	pkgdesc = A C++, header-only library for constructing JSON and JSON-like data formats
	pkgver = 1.3.1
	pkgrel = 1
	url = https://github.com/danielaparker/jsoncons
	arch = any
	license = BSL-1.0
	makedepends = cmake
	options = !debug
	source = jsoncons-1.3.1.tar.gz::https://github.com/danielaparker/jsoncons/archive/refs/tags/v1.3.1.tar.gz
	sha256sums = 8c05be174a919598591bffd848b5cbeba8858f6ca9b0ebcac8d3414bc3ec3708

pkgname = jsoncons
