pkgbase = jsoncons
	pkgdesc = A C++, header-only library for constructing JSON and JSON-like data formats
	pkgver = 1.7.0
	pkgrel = 1
	url = https://github.com/danielaparker/jsoncons
	arch = any
	license = BSL-1.0
	makedepends = cmake
	options = !debug
	source = jsoncons-1.7.0.tar.gz::https://github.com/danielaparker/jsoncons/archive/refs/tags/v1.7.0.tar.gz
	sha256sums = 5a2aad4e791a1c93b0b0b326973459753a96a4c48d06d3035cd0ea0d262198d4

pkgname = jsoncons
