pkgbase = ripme
	pkgdesc = Downloads albums in bulk
	pkgver = 2.1.12
	pkgrel = 1
	url = https://github.com/ripmeapp2/ripme
	arch = any
	license = MIT
	makedepends = java-environment>=17
	makedepends = git
	makedepends = gradle
	depends = java-runtime>=17
	depends = bash
	options = !debug
	source = git+https://github.com/ripmeapp2/ripme#tag=2.1.12
	sha256sums = 5a5310c938beb58b9795203782e845dca4f8c8461a8784fa881aa231916283ff

pkgname = ripme
