pkgbase = ripme
	pkgdesc = Downloads albums in bulk
	pkgver = 2.1.18
	pkgrel = 1
	url = https://github.com/RipMeApp/ripme
	arch = any
	license = MIT
	makedepends = java-environment>=17
	makedepends = git
	makedepends = gradle
	depends = java-runtime>=17
	depends = bash
	options = !debug
	source = git+https://github.com/RipMeApp/ripme#tag=2.1.18-16-1342b621
	sha256sums = b8e2a7df8da746c268b34054f076bb5df5aa60aa2604f870c10f4a4d7f25b8bf

pkgname = ripme
