pkgbase = tile38-bin
	pkgdesc = An in-memory geolocation data store, spatial index, and realtime geofencing server
	pkgver = 1.35.0
	pkgrel = 1
	url = https://tile38.com
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = MIT
	depends = ca-certificates
	provides = tile38
	conflicts = tile38
	options = !debug
	source_x86_64 = tile38-x86_64-1.35.0::https://github.com/tidwall/tile38/releases/download/1.35.0/tile38-1.35.0-linux-amd64.tar.gz
	sha256sums_x86_64 = 0477d1a1d2385bb18d8571e9f3f1f810ac800ef622620c662df7014ad8701e34
	source_aarch64 = tile38-aarch64-1.35.0::https://github.com/tidwall/tile38/releases/download/1.35.0/tile38-1.35.0-linux-arm64.tar.gz
	sha256sums_aarch64 = 9f545fd5c5466191e943e0aef71458540ee2d81e5cb561fb2e786afe4fd06fc4
	source_armv7h = tile38-armv7h-1.35.0::https://github.com/tidwall/tile38/releases/download/1.35.0/tile38-1.35.0-linux-arm.tar.gz
	sha256sums_armv7h = c5d69c33f42906de27f7587c12b5334a5b378b47bc748ec29cf2b46b98980182

pkgname = tile38-bin
