pkgbase = tile38-bin
	pkgdesc = An in-memory geolocation data store, spatial index, and realtime geofencing server
	pkgver = 1.34.2
	pkgrel = 1
	url = https://tile38.com
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = MIT
	depends = ca-certificates
	provides = tile38
	conflicts = tile38
	options = !debug
	source_x86_64 = tile38-x86_64-1.34.2::https://github.com/tidwall/tile38/releases/download/1.34.2/tile38-1.34.2-linux-amd64.tar.gz
	sha256sums_x86_64 = dea5fe658e9963e21781dca362b041c5614a9fc6f03c48b9dc2b95adcdbd6e30
	source_aarch64 = tile38-aarch64-1.34.2::https://github.com/tidwall/tile38/releases/download/1.34.2/tile38-1.34.2-linux-arm64.tar.gz
	sha256sums_aarch64 = 724ff92bb528a4b240b8eaaee034cd062dcfd3cca49cbc0a75ca0f03bc9769f6
	source_armv7h = tile38-armv7h-1.34.2::https://github.com/tidwall/tile38/releases/download/1.34.2/tile38-1.34.2-linux-arm.tar.gz
	sha256sums_armv7h = ec0e031daa0717a58e95b101ee4ca91b854d94b77d23f63423432373833f8193

pkgname = tile38-bin
