pkgbase = python-wassima
	pkgdesc = No more certifi! System trust store at hand. In Pure Python.
	pkgver = 2.0.3
	pkgrel = 1
	url = https://github.com/jawah/wassima
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	options = !debug
	source = python-wassima-2.0.3.tar.gz::https://github.com/jawah/wassima/archive/refs/tags/2.0.3.tar.gz
	sha256sums = d4724f9b647e9499d0f0dff5c201bdbae74ea3f4eb3f57c39f0503f3c797d390

pkgname = python-wassima
