pkgbase = python-wassima
	pkgdesc = No more certifi! System trust store at hand. In Pure Python.
	pkgver = 2.0.6
	pkgrel = 1
	url = https://github.com/jawah/wassima
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	options = !debug
	source = python-wassima-2.0.6.tar.gz::https://github.com/jawah/wassima/archive/refs/tags/2.0.6.tar.gz
	sha256sums = 9e4ba5303d0a46618022e9589836e1c1a77262e69af38894f2b6289d77a5ff71

pkgname = python-wassima
