pkgbase = illarion-bin
	pkgdesc = The Illarion Launcher that is used to download the actual game and start it
	pkgver = 1.0.0.48
	pkgrel = 1
	url = https://illarion.org
	arch = x86_64
	license = GPL-3.0-or-later
	depends = bash
	depends = freetype2
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = java-runtime
	provides = illarion
	options = !strip
	source = https://illarion.org/media/java/install/illarion-1.0.0.48-amd64.deb
	source = illarion.desktop
	sha256sums = b5e1633397d40cab2c5e19dbe17fb653a55bd8aa8f3c6c119bc2d88193f4d5d5
	sha256sums = 9f3a8e6c3224a98d203307a30fc622f35d22bf5ada4a64634307d634ec4f5f8a

pkgname = illarion-bin
