pkgbase = porla
	pkgdesc = A high performance BitTorrent client for servers and seedboxes
	pkgver = 0.41.0
	pkgrel = 1
	url = https://porla.org
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = antlr4-runtime
	makedepends = boost
	makedepends = cmake
	makedepends = duktape
	makedepends = git
	makedepends = jwt-cpp
	makedepends = npm
	makedepends = sol2
	makedepends = uriparser
	makedepends = uwebsockets
	makedepends = zip
	makedepends = zlib
	depends = boost-libs
	depends = curl
	depends = gcc-libs
	depends = glibc
	depends = libgit2
	depends = libidn2
	depends = libldap
	depends = libnghttp2
	depends = libpsl
	depends = libsodium
	depends = libssh2
	depends = libtorrent-rasterbar
	depends = libzip
	depends = lua
	depends = openssl
	depends = sqlite
	depends = tomlplusplus
	depends = usockets
	backup = etc/porla/config.toml
	source = git+https://github.com/porla/porla.git#tag=v0.41.0
	source = 0001-patch-for-arch.patch
	source = porla.toml
	source = porla.service
	source = porla.sysusers
	source = porla.tmpfiles
	sha256sums = c91a513051e0b64b0d4fb5b8202093d3a6ae70baa4155d28f6c521eb095aabb7
	sha256sums = e95284505f6219cd43f5f7c53fabc040102656ca9a80de7d954890cbe3fa3d20
	sha256sums = fa1962c158eae8f47b99cf6e2c0403c1f2e00c430e15f33780b9b91123c6637f
	sha256sums = 277760130b9c35ca5d009be5b3838fdccc7cc89d19392afea54322b91c3a9f08
	sha256sums = a1d0aed79d00d65c1a1dee38249adf0e94091f36b838bb31d734ce6d3d152baf
	sha256sums = 1baaa181b6f44a6c06a80b39f9b6871a4cf8c09cfe141d3a1013ee3669f31032

pkgname = porla
