pkgbase = python-pykakasi
	pkgdesc = Lightweight converter from Japanese Kana-kanji sentences into Kana-Roman
	pkgver = 2.2.1
	pkgrel = 8
	url = https://codeberg.org/miurahr/pykakasi
	arch = any
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools-scm
	makedepends = python-sphinx
	makedepends = python-wheel
	depends = python-deprecated
	depends = python-jaconv
	depends = python-setuptools
	source = git+https://codeberg.org/miurahr/pykakasi.git#tag=v2.2.1
	b2sums = 0f8dd935056cd2646722b130009504ef9c60b9cc962395e33c3163be4ee47ff4d126d3faf8ff22950fa9bb98efea8f1572027726970da4c66e5401aee898c64c

pkgname = python-pykakasi
