pkgbase = dpitunnel-bin
	pkgdesc = Free, simple and serverless solution against censorship for Linux PCs and routers
	pkgver = 1.0.2
	pkgrel = 1
	url = https://github.com/txtsd/DPITunnel
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = GPL-3.0-or-later
	provides = dpitunnel
	conflicts = dpitunnel
	source = dpitunnel.service
	sha256sums = 8fc14a33357d08051f1b32466556688c74776a3c63d74aaa4754482c7292f28a
	source_x86_64 = https://github.com/txtsd/DPITunnel/releases/download/1.0.2/dpitunnel-amd64.zip
	sha256sums_x86_64 = e9950bc713d4210a3585a64f418d2c041742d2a2b55cdfa92b4fda24d34a45e1
	source_i686 = https://github.com/txtsd/DPITunnel/releases/download/1.0.2/dpitunnel-x86.zip
	sha256sums_i686 = ad7ee7f7c0ef0ff89474be3bd39e47c6902b3ca816e93e9d4f1bb85ec626955c
	source_armv7h = https://github.com/txtsd/DPITunnel/releases/download/1.0.2/dpitunnel-armhf.zip
	sha256sums_armv7h = fe79e8a80c6d3ba6242d49e255399da43470973f8cec4a426cde8758c5a281dd
	source_aarch64 = https://github.com/txtsd/DPITunnel/releases/download/1.0.2/dpitunnel-arm64.zip
	sha256sums_aarch64 = 294f877699093b200efbebaaa369f8125ff06aa617a2a7dcd9f33d28ff34b925

pkgname = dpitunnel-bin
