pkgbase = libggml
	pkgdesc = Tensor library for machine learning
	pkgver = r1410.8a3d799
	pkgrel = 3
	url = https://github.com/ggerganov/ggml
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = git
	depends = clblast
	depends = glibc
	depends = openblas
	options = lto
	source = libggml::git+https://github.com/ggerganov/ggml.git
	sha256sums = SKIP

pkgname = libggml
