pkgbase = nuitka
	pkgdesc = Python compiler with full language support and CPython compatibility
	pkgver = 2.8.5
	pkgrel = 1
	url = https://nuitka.net
	arch = any
	license = Apache-2.0
	checkdepends = ccache
	checkdepends = python-boto3
	checkdepends = python-brotli
	checkdepends = strace
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = fuse2
	depends = gdb
	depends = libxml2
	depends = patchelf
	depends = python
	depends = python-appdirs
	depends = python-jinja
	depends = python-ordered-set
	depends = python-pyyaml
	depends = python-setuptools
	depends = python-six
	depends = python-tqdm
	depends = python-zstandard
	depends = scons
	optdepends = ccache: for caching builds
	options = !debug
	options = lto
	source = https://github.com/Nuitka/Nuitka/archive/refs/tags/2.8.5.tar.gz
	sha256sums = 1b1ba213f224cda3ca4a8fb02d0da85459df964e42d12a3f21f4a56b89011bed

pkgname = nuitka
