pkgbase = ripme-git
	pkgdesc = Downloads albums in bulk
	pkgver = 2.1.14.r1.g2621a273
	pkgrel = 1
	url = https://github.com/RipMeApp/ripme
	arch = any
	license = MIT
	makedepends = java-environment>=17
	makedepends = git
	makedepends = gradle
	depends = bash
	depends = java-runtime>=17
	provides = ripme
	conflicts = ripme
	source = git+https://github.com/RipMeApp/ripme.git
	sha256sums = SKIP

pkgname = ripme-git
