pkgbase = ripme-git
	pkgdesc = Downloads albums in bulk
	pkgver = 2.1.11.r15.g5d7897d2
	pkgrel = 1
	url = https://github.com/ripmeapp2/ripme
	arch = any
	license = MIT
	makedepends = java-environment>=17
	makedepends = git
	makedepends = gradle
	depends = bash
	depends = java-runtime>=17
	provides = ripme
	conflicts = ripme
	source = git+https://github.com/ripmeapp2/ripme.git
	sha256sums = SKIP

pkgname = ripme-git
