*
!PKGBUILD
!.SRCINFO
!.gitignore
!.nvchecker.toml
!io.github.noxworld_dev.OpenNox.desktop
!io.github.noxworld_dev.OpenNox.HD.desktop
!io.github.noxworld_dev.OpenNox.metainfo.xml
!opennox_256.png
!opennox_512.png
