pkgbase = dissent-bin
	pkgdesc = Discord client written in go and gtk4 (binary version)
	pkgver = 0.0.26
	pkgrel = 1
	url = https://github.com/diamondburned/dissent
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-only
	depends = gtk4>=4.10.3
	depends = gobject-introspection
	depends = libadwaita>=1.3.2
	depends = libgirepository
	depends = harfbuzz
	depends = glib2
	depends = graphene
	depends = cairo
	depends = hicolor-icon-theme
	depends = pango
	depends = glibc
	depends = gdk-pixbuf2
	depends = gcc-libs
	depends = vulkan-icd-loader
	provides = dissent
	conflicts = dissent
	conflicts = dissent-git
	source_x86_64 = dissent-linux-amd64-0.0.26.tar.zst::https://github.com/diamondburned/dissent/releases/download/v0.0.26/dissent-linux-amd64.tar.zst
	sha256sums_x86_64 = 82f5b92892cc96d8d89ccd42a093423492087e88bfb1364c30002af6227a7c6d
	source_aarch64 = dissent-linux-arm64-0.0.26.tar.zst::https://github.com/diamondburned/dissent/releases/download/v0.0.26/dissent-linux-arm64.tar.zst
	sha256sums_aarch64 = e4c458b30ff0fb53a09db64ec7af42590bba499e6209e66e4bd7f8d8af04f702

pkgname = dissent-bin
