pkgbase = dissent-bin
	pkgdesc = Discord client written in go and gtk4 (binary version)
	pkgver = 0.0.24
	pkgrel = 1
	url = https://github.com/diamondburned/dissent
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-only
	depends = gtk4>=4.10.3
	depends = gobject-introspection
	depends = libadwaita>=1.3.2
	depends = libgirepository
	depends = harfbuzz
	depends = glib2
	depends = graphene
	depends = cairo
	depends = hicolor-icon-theme
	depends = pango
	depends = glibc
	depends = gdk-pixbuf2
	depends = gcc-libs
	provides = dissent
	conflicts = dissent
	conflicts = dissent-git
	source_x86_64 = dissent-linux-amd64-0.0.24.tar.zst::https://github.com/diamondburned/dissent/releases/download/v0.0.24/dissent-linux-amd64.tar.zst
	sha256sums_x86_64 = 6ca536100ace3fb824646e4ac1380e0b6c380902b935fdcc9bd9e16174adcf37
	source_aarch64 = dissent-linux-arm64-0.0.24.tar.zst::https://github.com/diamondburned/dissent/releases/download/v0.0.24/dissent-linux-arm64.tar.zst
	sha256sums_aarch64 = 4a875e320137f8c720888f5ed2042e3a434cc8f0ac4477703f20e993a7936f64

pkgname = dissent-bin
