pkgbase = trelby
	pkgdesc = The free, multiplatform, feature-rich screenwriting program!
	pkgver = 2.4.10
	pkgrel = 1
	url = https://github.com/trelby/trelby
	arch = any
	license = GPL-2.0-or-later
	checkdepends = python-pytest
	makedepends = python-setuptools
	makedepends = docbook-xsl
	depends = python
	depends = python-lxml
	depends = python-wxpython
	depends = python-reportlab
	source = trelby-2.4.10.tar.gz::https://github.com/trelby/trelby/archive/refs/tags/2.4.10.tar.gz
	source = trelby.xml
	source = trelby
	source = 0001-chore-Adjust-docbook-patch-for-Arch.patch
	sha256sums = f35e7479c76636012cbd5b04dc5d4d34283203f68e732d6d3f2dc1745e8998f7
	sha256sums = eb9332ff5bd22988ac87231851876df76220a581e1f5bfc5b782cff10ccffe42
	sha256sums = 3e8cf39abbd1b00c6e8b8d6819e2a05e951271025d631e01c2ffa23c8986251d
	sha256sums = fecea43670ce96944bbd0af7e7e5b39c000982ad67941e960e304ec1628a83ba

pkgname = trelby
