pkgbase = trelby
	pkgdesc = The free, multiplatform, feature-rich screenwriting program!
	pkgver = 2.4.16.2
	pkgrel = 1
	url = https://github.com/trelby/trelby
	arch = any
	license = GPL-2.0-or-later
	checkdepends = python-pytest
	makedepends = docbook-xsl
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-lxml
	depends = python-reportlab
	depends = python-wxpython
	options = !debug
	source = trelby-2.4.16.2.tar.gz::https://github.com/trelby/trelby/archive/refs/tags/2.4.16.2.tar.gz
	source = trelby.xml
	source = 0001-chore-Adjust-docbook-patch-for-Arch.patch
	sha256sums = 2f69f90057ca31746eeeddb5cffa944e29aa5e67905f141043f6e3a9ea6cbe3e
	sha256sums = eb9332ff5bd22988ac87231851876df76220a581e1f5bfc5b782cff10ccffe42
	sha256sums = fecea43670ce96944bbd0af7e7e5b39c000982ad67941e960e304ec1628a83ba

pkgname = trelby
