pkgbase = libopensles-standalone
	pkgdesc = A lightly patched version of Google's libOpenSLES implementation
	pkgver = r281.bdb857a
	pkgrel = 1
	url = https://gitlab.com/android_translation_layer/libopensles-standalone
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = Apache-2.0
	makedepends = jdk8-openjdk
	makedepends = meson
	depends = glibc
	depends = libsndfile
	depends = sdl2
	source = libopensles-standalone-bdb857a4baadbc8c036db85a5da26c5269a751c5.tar.gz::https://gitlab.com/android_translation_layer/libopensles-standalone/-/archive/bdb857a4baadbc8c036db85a5da26c5269a751c5/libopensles-standalone-bdb857a4baadbc8c036db85a5da26c5269a751c5.tar.gz
	sha256sums = 097ed0d1561b774faa03a3eca8ac787a16c1825d1a8ca8155b5a6b9092ed14f9

pkgname = libopensles-standalone
