name: Schedule

on:
  schedule:
    - cron: '0 0,6,12,18 * * *'
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  release_check:
    name: Release Check
    runs-on: ubuntu-latest
    container: ghcr.io/archlinux/archlinux:base-devel
    timeout-minutes: 5

    outputs:
      list: ${{ steps.releases.outputs.list_updates }}

    steps:
      - name: Update system and install dependencies
        run: |
          pacman-key --init
          pacman -Syu --noconfirm fd jq wget nvchecker python-jq devtools

      - uses: actions/checkout@v6
        with:
          fetch-depth: '0'

      - name: Check for new releases
        id: releases
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: sh
        run: |
          updates=()
          for dir in $(fd --type d --exclude="*-git" --exclude="*-cvs" --exclude="*-svn" --exclude="*-hg" --exclude="*-darcs" --exclude="*-bzr" --exclude='llama.cpp-cuda' --exclude='llama.cpp-hip' --exclude='android_translation_layer' --exclude='art_standalone' --exclude='bionic_translation' --exclude='libopensles-standalone' --exclude='libggml' --exclude='qbittorrent-nightwalker')
          do
            pushd ${dir%/}
            result=$(pkgctl version check | grep '!' | wc -l)
            if [ $result = 1 ]; then
              updates+=("${dir%/}")
            fi
            popd
          done
          echo "list_updates=$(jq -cn '$ARGS.positional' --args "${updates[@]}")" >> $GITHUB_OUTPUT

  build:
    name: Build
    needs: release_check
    uses: ./.github/workflows/build.yml
    with:
      packages: ${{ needs.release_check.outputs.list }}
